<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoverhackathon">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />

        <meta-data
            android:name="com.hover.ApiKey"
            android:value="fcf600b8e515abf82593035b63896846" />
        <receiver
            android:name=".TransactionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hoverhackathon.CONFIRMED_TRANSACTION" />
            </intent-filter>
        </receiver>
        <activity android:name=".ui.activity.ActivityPromotionalMessages">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ActivityPromotionalMessages" />
        </activity>
        <activity android:name=".ui.activity.ActivityGovernmentServices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ActivityGovernmentServices" />
        </activity>
        <activity android:name=".ui.activity.ActivityCountyServices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ActivityCountyServices" />
        </activity>
        <activity android:name=".ui.activity.ActivityBanksSaccos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ActivityBanksSaccos" />
        </activity>
        <activity android:name=".ui.activity.ActivityUtility">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ActivityUtility" />
        </activity>
        <activity android:name=".ui.activity.DashboardActivity">

        </activity>
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>